body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color:#666;
}
.pimg1, .pimg2, .pimg3{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  }

.pimg1{
    background-image:url('../img/image1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image:url('../img/image2.jpg');
    min-height: 100%;
}
.pimg3{
    background-image:url('../img/image3.jpg');
    min-height: 100%;
}

.section{
    text-align:center;
    padding:50px 80px;
}

.ptext{
    position:absolute;
    top:50%;
    width: 100%;
    text-align:center;
    color:#000;
    font-size: 40px;
 }
 
 h1{
    display: block;
    font-size: 2em;
    margin-block-start: -7em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
 }

.openSans {
    font-family: Open Sans!important;
    color:white;
}

h1.Intro{
    font-family: Open Sans!important;
    color:white;
    margin-block-start: -3em;
}


h2{
    font-size: 1.5em;
    margin-block-start: auto;

    font-weight: bold;
    text-align: center;
}

p{
    font-size: 14px;
    color: white;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 35em;
    text-align: center;
}
.column {
    float: left;
    width: 47%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 15px;

}