body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color:#666;

}

.ptext{
    position:absolute;
    top:30%;
    width: 100%;
    text-align:center;
    color:white;
    font-size: 40px;
 }
 
 h1{
    font-family: Open Sans;
    display: block;
    font-size: 1.5em;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 20px;
 }


h2{
    color:white;
    font-size: 1em;
    margin-block-start: auto;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 14px;
    color: white;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 35em;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    margin: 0 auto;

}

/* Clear floats after the columns */
.row:after {
    margin: auto;
    text-align: center;

}
.pimg1, .pimg2, .pimg3, .pimg4{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  }
.pimg1{
    background-image:url('../img/image1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image:url('../img/image2.jpg');
    min-height: 100%;
}
.pimg3{
    background-image:url('../img/image3.jpg');
    min-height: 100%;
}
.pimg4{
    background-image:url('../img/image4.jpg');
    min-height: 100%;
}

