body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color:#666;

}

.ptext{
    position:absolute;
    top:30%;
    width: 100%;
    text-align:center;
    color:white;
    font-size: 200%;
 }
 
 h1{
    font-family: Open Sans;
    display: block;
    font-size: 200%;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 20px;
 }


h2{
    color:white;
    font-size: 75%;
    margin-block-start: auto;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 60%;
    color: white;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 45%;
    text-align: center;
}
.column-text h1{
    padding-top: 20%;
    text-align: center;
}

.column-text{
    width: 50%;
    text-align:center;
    color:white;
    font-size: 30px;
 }
.pimg1, .pimg2, .pimg3, .pimg4{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  }
.pimg1{
    background-image:url('../img/image1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image:url('../img/image2.jpg');
    min-height: 100%;
}
.pimg3{
    background-image:url('../img/image3.jpg');
    min-height: 100%;
}
.pimg4{
    background-image:url('../img/image4.jpg');
    min-height: 100%;
}

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }

  section{
    width: 100%;
    height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  
.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	padding:9px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#1d5ba0;
}
.myButton:active {
	position:relative;
	top:1px;
}

        